.pageindex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px
}

.pageindex button {
    margin-bottom: 2px;
}

.pageindex h4 {
    user-select: none;
}

.pageindex h4:hover {
    user-select: none;
    cursor: pointer;
}
