.panel {
    float: left;
    position: relative;
    width: 20%;
    height: 100%;
    color: #FFF3E4;
    background-color: #6B4F4F;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

