.panelcontent {
    background-color: rgb(134, 99, 99);
    border-radius: 1rem;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow:0px 0px 5px 0px #000000 ;
    -moz-box-shadow:0px 0px 5px 0px #000000 ;
    box-shadow:0px 0px 5px 0px #000000 ;
}

.pagestitle {
    width: 100%;
    height: 10%;
    border-bottom: 1px dotted #fff3e4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pagesnavbar {
    width: 100%;
    height: 60%;
    padding: 5px;
}

.newpagemenu {
    border-top: 1px dotted #fff3e4;
    width: 100%;
    height: 30%;
    padding-top: 15px;  
}