.panelheader {
    width: 80%;
    height: 10%;
    border-bottom: 1px solid #FFF3E4;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.panelheader h4 {
    margin: 2%;
}
