.addnote {
    background-color: #e9d396;
    width: 175px;
    height: 164px;
    padding: 20px;
    margin: 1rem;
    
    box-shadow:0px 0px 3px 0px #4f4f4f ;
    border-radius:3px;

    
}

.addnotebutton {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.addnoteform {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}