.tabtitle {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;
    height: 7%;
    
    font-family: 'Josefin Sans', sans-serif;
    border-bottom: 1px dashed #483434;
    border-radius: 0px 0px 15px 15px;
}

.tabtitle button {
    position: absolute;
    right: 15px;
}