.tabtitle {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;
    height: 7%;
    /* background-color: #e9c7ad; */
    background-color: #e9d39680;
    box-shadow:0px 0px 3px 0px #4f4f4f ;

    
    font-family: 'Fredoka', sans-serif;
    border-radius: 0px 0px 15px 15px;
}

.tabtitle button {
    position: absolute;
    right: 15px;
}