.header {
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 10%;
    background-color: #483434;
    box-shadow: 0px 2px 4px 0px rgba(194,194,194,1);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(194,194,194,1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(194,194,194,1);
}

.logo {
    position: relative;
    margin-right: 7%;
    color: #ffffff;
    font-family: 'Love Light', cursive;
}

.d-logo {
    display: inline;
    font-size: 50px;
}

.note-logo {
    display: inline;
    font-family: 'Ubuntu', sans-serif;

}